body
{
    background-color: #E8B313;
    font-family: Calibri;
    color: black;
}

h1
{
    margin: 20px;
}

div.visible, div.error
{
    background-color: #E3C66D;
    margin: 7px;
    margin-top: 13px;
    margin-bottom: 12px;
    padding: 6.8px;
    padding-left: 10px;
    border-radius: 10px;
}

div.error
{
    background-color: #E3836D;
    background-image: url(error-div.png);
}

input[type="text"], input[type="number"]
{
    background-color: #F2E0AA;
    border: none;
    padding: 3.5px;
    border-radius: 3px;
    width: 180px;
    padding-left: 6px;
    margin: 1px;
}

input[type="number"]
{
    width: 50px;
}

button, input[type="button"], select
{
    background-color: #F2E0AA;
    border: none;
    padding: 3.5px;
    padding-left: 6px;
    padding-right: 6px;
    border-radius: 3px;
    margin: 1px;
}