<!DOCTYPE html>
<html ng-app="famcoins">
    <head>
        <title>FamCoins</title>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="index.css">
        <script src="https://code.jquery.com/jquery-latest.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <script src="index.js"></script>
    </head>
    <body ng-controller="controller">
        <h1>FamCoins</h1>
        <div class="visible">
            <form>
                <table>
                    <tr>
                        <td>Inhaber:</td>
                        <td><input type="text" ng-model="owner"></td>
                    </tr>
                    <tr>
                        <td>Währung:</td>
                        <td><input type="text" ng-model="unit"></td>
                    </tr>
                </table>
                <button ng-click="readAmount()">Anmelden</button>
            </form>
        </div>
        <div class="visible">
            Aktueller Kontostand: <span>{{amount}}</span>
        </div>
        <div class="visible">
            <table>
                <tr>
                    <td>Aktion: </td>
                    <td><select ng-model="selectedAction">
                        <option>Hinzufügen</option>
                        <option>Abziehen</option>
                    </select></td>
                </tr>
                <tr>
                    <td>Betrag: </td>
                    <td><input type="number" ng-model="transact1Amount"></td>
                </tr>
            </table>
            <button ng-click="flexibleAction()">{{selectedAction}}</button>
        </div>
        <div class="visible">
            <form>
                <table>
                    <tr>
                        <td><label>Inhaber: </label></td>
                        <td><input type="text" ng-model="newOwner"></td>
                    </tr>
                    <tr>
                        <td><label>Währung: </label></td>
                        <td><input type="text" ng-model="newUnit"></td>
                    </tr>
                </table>
                <button ng-click="createAccount()">Konto einrichten</button>
            </form>
        </div>
        <div class="visible">
            <form>
                <table>
                    <tr>
                        <td>Von:</td>
                        <td><input type="text" ng-model="transferFrom"></td>
                    </tr>
                    <tr>
                        <td>Zu:</td>
                        <td><input type="text" ng-model="transferTo"></td>
                    </tr>
                    <tr>
                        <td>Währung:</td>
                        <td><input type="text" ng-model="transferUnit"></td>
                    </tr>
                    <tr>
                        <td>Betrag:</td>
                        <td><input type="number" ng-model="transferAmount"></td>
                    </tr>
                </table>
                <button ng-click="transfer()">Überweisen</button>
            </form>
        </div>
    </body>
</html>